<template>
    <div class="card">
        <h2 class="card-header">Configured Sites</h2>
        <div class="card-body">
            <ul class="list-group" v-if="accesses.length > 0">
                <li class="list-group-item" v-for="access in accesses" :key="access.id">
                    <h2>{{ access.domain }}</h2>
                    <p>
                        <strong>Token:</strong>
                        <input type="text" :id="`token_${access.id}`" :value="access.token" readonly size="37">
                        <button type="button" class="btn btn-success btn-sm" @click.prevent="Copy(`token_${access.id}`)">Copy</button>
                        <button type="button" class="btn btn-info btn-sm" @click.prevent="ReloadToken(access.id)">Reload token</button>
                    </p>
                    <p>
                        <span class="switch switch-sm">
                            <input  @change="StatusChange(access.id)" type="checkbox" class="switch" :id="`status_${access.id}`" aria-describedby="statusHelp" :checked="(access.status === 'prod')?true:false">
                            <label :for="`status_${access.id}`">Production</label>
                        </span>
                    </p>
                </li>
            </ul>
            <div class="alert alert-dark" role="alert" v-else>
                You have not configured sites, the API will work only under localhost domains.
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        list: Array,
    },
    data() {
        return {

        };
    },
    beforeMount(){
        for(let i = 0; i < this.list.length; i++){
            this.$store.dispatch('setAccess', this.list[i]);
        }
    },
    computed: {
        accesses() {
            return this.$store.state.accesses;
        }
    },
    methods: {
        Copy(id) {
            const el = document.getElementById(id);
            el.select();
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
        },
        StatusChange(id) {
            axios.put(_URL.get('access.update', {access: id}), {
                status: (document.getElementById('status_'+id).checked)?'prod':'dev',
            });
        },
        ReloadToken(id) {
            const agree = confirm('Are you sure to refresh the token? All calls should be updated with the new Token.');
            if(agree == true){
                axios.put(_URL.get('access.update', {access: id}), {
                    token: true,
                }).then( resp => {
                    document.getElementById('token_'+resp.data.access.id).value = resp.data.access.token;
                });
            }
        },
    },
}
</script>

