<template>
    <div class="card">
        <h2 class="card-header">Add Site</h2>
        <div class="card-body">
            <div class="alert alert-success" role="alert" v-if="success">
                The domain has been saved.
            </div>
            <form @submit.prevent="CheckForm" novalidate>
                <div class="form-group">
                    <label for="domain">Domain</label>
                    <input type="url" :class="{'form-control':true, 'is-invalid':errors.domain}" id="domain" aria-describedby="domainHelp" placeholder="Enter domain" v-model="domain">
                    <div class="invalid-feedback" v-show="errors.domain" v-text="errors.domain"></div>
                    <small id="domainHelp" class="form-text text-muted">Domain where the service it's going to be consumed.</small>
                </div>
                <div class="form-group">
                    <span class="switch switch-sm">
                        <input type="checkbox" class="switch" id="status" aria-describedby="statusHelp" v-model="status" value="prod">
                        <label for="status">Production</label>
                    </span>
                    <small id="domainHelp" class="form-text text-muted">Leave it off if you need to do some testing, this can be changed anytime.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            errors: {},
            domain: null,
            status: false,
            success: false,
        }
    },
    methods: {
        CheckForm() {
            this.errors = {};
            if(!this.domain){
                this.errors['domain'] = 'This is a required field.';
            }
            if(!this.CheckUrl(this.domain) && typeof this.errors.domain === 'undefined') {
                this.errors['domain'] = 'Please enter a valid URL.';
            }

            if(Object.keys(this.errors).length === 0 && this.errors.constructor === Object){
                axios.post(_URL.get('access.store'), {
                    domain: this.domain,
                    status: (this.status)?'prod':'dev',
                }).then( resp => {
                    console.log(resp);
                    if(resp.data.success === true) {
                        this.domain = null;
                        this.status = false;
                        this.errors = {};
                        this.success = true;
                        this.$store.dispatch('setAccess', resp.data.access);
                    }
                });
            }
        },
        CheckUrl(string) {
            const regex = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/;
            const validate = new RegExp(regex);
            return (string.match(regex))?true:false;
        }
    },
};
</script>

