<template>
    <div class="card">
        <h2 class="card-header">Add Group</h2>
        <div class="card-body">
            <div class="alert alert-success" role="alert" v-if="success">
                The group has been saved.
            </div>
            <form @submit.prevent="CheckForm" novalidate>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="url" :class="{'form-control':true, 'is-invalid':errors.name}" id="name" aria-describedby="nameHelp" placeholder="Enter name" v-model="name" @change="CheckHash('name')">
                    <div class="invalid-feedback" v-show="errors.name" v-text="errors.name"></div>
                    <small id="nameHelp" class="form-text text-muted">How the group will be named, this is necesary to call the API.<br>The name can't contain spaces instead use -, all lowercase.</small>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="custom-select" id="status" aria-describedby="statusHelp" v-model="status">
                        <option value="active" selected>Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                    <small id="statusHelp" class="form-text text-muted">Only Active groups can be called via API.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            errors: {},
            name: null,
            status: 'active',
            success: false,
        }
    },
    methods: {
        CheckForm() {
            this.errors = {};
            if(!this.name){
                this.errors['name'] = 'This is a required field.';
            }

            if(Object.keys(this.errors).length === 0 && this.errors.constructor === Object){
                axios.post(_URL.get('group.store'), {
                    name: this.name,
                    status: this.status,
                }).then( resp => {
                    console.log(resp);
                    if(resp.data.success === true) {
                        this.name = null;
                        this.status = false;
                        this.errors = {};
                        this.success = true;
                        this.$store.dispatch('setGroup', {newGroup: resp.data.group, pos: 'first'});
                    }
                });
            }
        },
        CheckHash(obj) {
            let string = this[obj];
            string = string.replace(/[^A-Z0-9]+/ig, '-').toLowerCase();
            
            this[obj] = string;
        }
    },
};
</script>

