<template>
    <div class="card">
        <h2 class="card-header">Groups</h2>
        <div class="card-body">
            <ul class="list-group" v-if="groups.length > 0">
                <li class="list-group-item position-relative" v-for="group in groups" :key="`group_${group.id}`">
                    <h3>
                        {{ group.name }}
                        <button type="button" class="btn btn-primary btn-sm" @click.prevent="OpenModal(page)">+ Add Page</button>
                    </h3>
                    <span class="switch position-absolute">
                        <input  type="checkbox" class="switch" :id="`group_status_${group.id}`" :checked="(group.status === 'active')?true:false">
                        <label :for="`group_status_${group.id}`">Active</label>
                    </span>
                    <div class="card bg-light" v-for="page in group.user_pages" :key="`page_${page.id}`">
                        <div class="card-header position-relative">
                            <h4>
                                {{ page.slug }} 
                                <button type="button" class="btn btn-info btn-sm" @click.prevent="OpenModal(page)">Detail</button>
                                <button type="button" class="btn btn-success btn-sm" @click.prevent="EditPage(page.id)">Edit page</button>
                            </h4>
                            <span class="switch switch-sm position-absolute">
                                <input  type="checkbox" class="switch" :id="`page_status_${page.id}`" :checked="(page.status === 'active')?true:false">
                                <label :for="`page_status_${page.id}`">Active</label>
                            </span>
                        </div>
                        <div class="card-body">
                            <p>
                                <strong>Source:</strong>
                                <a :href="page.origin" target="_blank">{{ page.origin }}</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="alert alert-dark" role="alert" v-else>
                You have not configured groups, this are necesary to pack items and pages to crawl.
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true" v-if="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailModalTitle">{{ modal.slug }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <strong>Source:</strong>
                                <a :href="modal.origin" target="_blank">{{ modal.origin }}</a>
                            </p>
                            <p v-if="modal.cookies">
                                <strong>Cookies:</strong>
                                <span>{{ modal.cookies }}</span>
                            </p>
                            <p>
                                <strong>Protocol:</strong>
                                {{ modal.global_page.protocol }}
                            </p>
                            <p>
                                <strong>Host:</strong>
                                {{ modal.global_page.host }}
                            </p>
                            <p>
                                <strong>Page:</strong>
                                {{ modal.page }}
                            </p>
                            <p>
                                <strong>Vendor:</strong>
                                {{ modal.global_page.vendor }}
                            </p>
                            <h5>Extract Items:</h5>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="items in modal.user_items" :key="`item_${items.id}`">{{ items.name }}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" @click.prevent="EditPage(modal.id)">Edit page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .switch{ top:14px; right: 3%; }
</style>

<script>
export default {
    props: {
        list: Array,
        global: Array,
    },
    data() {
        return {
            modal: null,
        };
    },
    beforeMount(){
        for(let i = 0; i < this.list.length; i++){
            this.$store.dispatch('setGroup', {newGroup: this.list[i]});
        }
        
        this.$store.dispatch('setGlobal', this.global);

    },
    computed: {
        groups() {
            return this.$store.state.groups;
        }
    },
    methods: {
        OpenModal(page) {
            this.modal = page;
            if(document.getElementById('modalDetail') === null){ //while the div is rendered by Vue, just the first time
                setTimeout(() => {
                    $('#modalDetail').modal('show');
                }, 200);
            } else {
                $('#modalDetail').modal('show');
            }
        },
        EditPage(id) {
            
        },
    },
}
</script>

